
<footer class="footer">
  
    <section class="footerlink">
        <nav class="footerlink__navegacion">
            <ul class="footerlinks_navegacion--lista">
                <li><a href="https://adalab.es/" class="footerlinks_navegacion--item">Articles</a></li>
                <li><a href="https://adalab.es/" class="footerlinks_navegacion--item">Books</a></li>
                <li><a href="https://adalab.es/" class="footerlinks_navegacion--item">Events</a></li>
                <li><a href="https://adalab.es/" class="footerlinks_navegacion--item">Reasons</a></li>
                <li><a href="https://adalab.es/" class="footerlinks_navegacion--item">Tips</a></li>
            </ul>
        </nav>
    </section>    

    <section class="footerredes">
        <nav class="footerredes_container">
            <ul class="footerredes__container--lista">
                <li><a href="https://adalab.es/" class="footerredes__container--item">Twitter</a></li>
                <li><a href="https://adalab.es/" class="footerredes__container--item">Instagram</a></li>
                <li><a href="https://adalab.es/" class="footerredes__container--item">Mastodon.social</a><li>
            </ul>
        </nav>
    </section>


    <section class="footer__copy">
            <p class="footer__copy--item">&copy;2021</p>
            <p class="footer__copy--item">we &#129505 components</p>
        </section>
    </section>

  
</footer>





