
<footer class="footer">
  
    <section class="footerlink">
        <nav class="footerlink__navegacion">
            <ul class="footerlinks_nanegacion--lista">
                <li><a href="https://adalab.es/" class="footerlinks_nanegacion--item">Article</a></li>
                <li><a href="https://adalab.es/" class="footerlinks_nanegacion--item">Books</a></li>
                <li><a href="https://adalab.es/" class="footerlinks_nanegacion--item">Events</a></li>
                <li><a href="https://adalab.es/" class="footerlinks_nanegacion--item">Reasons</a></li>
                <li><a href="https://adalab.es/" class="footerlinks_nanegacion--item">Tips</a></li>
            </ul>
        </nav>
    </section>    

    <section class="footerredes">
        <nav class="footerredes_container">
            <ul class="footerredes__container--lista">
                <li><a href="https://adalab.es/" class="footerredes__container--item">Twitter</a></li>
                <li><a href="https://adalab.es/" class="footerredes__container--item">Instagram</a></li>
                <li><a href="https://adalab.es/" class="footerredes__container--item">Mastodon.social</a><li>
            </ul>
        </nav>
    </section>


    <section class="footer__copy">
            <p class="footer__copy--item">&copy;2021</p>
            <p class="footer__copy--item">we * components</p>
        </section>
    </section>

  
</footer>




<!-- <footer class="page__footer">
  <small>
    &copy; Todos los derechos reservados
    <include
      src="./link.html"
      aClass="link__adalab"
      text="Adalab"
      url="https://adalab.es"
    ></include>
  </small>
</footer> -->
