<header class="header">
  
  <div class="header__menu">
      <nav class="memu">
        <a href="https://adalab.es/" title="Ir a Adalab">   <img src="./assets/images/ico-menu.svg" alt="imagen de fondo"> </a> 
      </nav>   
  </div>

  <section class="header__herocontenedor">
    
      <h1 class="header__title1">Anonimous Proxy</h1>  
      <h3 class="header_title2">In hac habitassse platea dictumst</p>  
    </div>
  
  </section>

  
     
        
  </section>


     icono redondo flecha abajo
</header>

<!--<header class="page__header">
  <img src="./assets/images/logo-adalab.png" alt="Adalab">
  <h1>@@title</h1>
</header>
-->