<header>
  
  <div class="header__menu">
      <nav class="memu">
        <a href="https://adalab.es/" title="Ir a Adalab">   <img src="./assets/images/ico-menu.svg" alt="imagen de fondo"> </a> 
      </nav>   
  </div>

  
  <img src="./assets/images/cover.jpg" alt="imagen de fondo">
    
  
  <h1> titulo Anonimous Proxy </h1>  
  <p>In hac habitassse platea dictumst</p>  

  icono redondo flecha abajo

</header>

<!--<header class="page__header">
  <img src="./assets/images/logo-adalab.png" alt="Adalab">
  <h1>@@title</h1>
</header>
-->