<main>
    <section1>
      <p>Insomnia Tips </p>  
      
      <h3>Looking Through A Window</h3>  
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ullam repudiandae sit accusantium error odio aperiam, dolore mollitia necessitatibus libero sunt corporis! Explicabo magnam pariatur, aperiam iusto nihil rerum voluptate.</p>
        boton
    </section>
  
    <section2>
          <h3>Reasons To PurchasX</h3> 
          
          titulo article1 
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto tempore quos libero quam at ad perferendis corporis non! Sint reiciendis architecto delectus et pariatur accusantium minima asperiores earum aspernatur odit!
        
          titulo article2
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam repellendus laudantium molestias voluptates harum sunt omnis expedita deserunt voluptate aspernatur, a perferendis quisquam non odit. Veniam culpa blanditiis eaque eligendi!
          
          titulo article3
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi nihil labore placeat tempora mollitia enim illum accusantium inventore itaque quaerat ullam ut quasi quae fugit dolorum, eaque suscipit quidem eius.
  
          boton GO
  
    </section>  
  
      boton  More reasons
  
      icono  flecha arriba 
  </main>