<main>
  <section1>
    <p>Insomnia Tips </p>  
    
    <h3>Looking Through A Window</h3>  
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ullam repudiandae sit accusantium error odio aperiam, dolore mollitia necessitatibus libero sunt corporis! Explicabo magnam pariatur, aperiam iusto nihil rerum voluptate.</p>
      boton
  </section>

  <section2>
        <h3>titulo 3 Reasons To Purchase</h3> 
        
        titulo article1 
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto tempore quos libero quam at ad perferendis corporis non! Sint reiciendis architecto delectus et pariatur accusantium minima asperiores earum aspernatur odit!
      
        titulo article2
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam repellendus laudantium molestias voluptates harum sunt omnis expedita deserunt voluptate aspernatur, a perferendis quisquam non odit. Veniam culpa blanditiis eaque eligendi!
        
        titulo article3
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi nihil labore placeat tempora mollitia enim illum accusantium inventore itaque quaerat ullam ut quasi quae fugit dolorum, eaque suscipit quidem eius.

        boton GO

  </section>  

    boton  More reasons

    icono  flecha arriba 
</main>























































<!--
  <main class="page__main">
  <h2>Este es el starter kit de Adalab</h2>
  <p>Lo usamos para aprender:</p>
  <ul class="main__list">
    <li>Sass</li>
    <li>HTML partials</li>
    <li>Gulp</li>
    <li>y muchas cosas más</li>
  </ul>
  <p>Si quieres saber cúales son las rutas correctas para:</p>
  <ul class="main__list">
    <li>
      una <code class="code">&lt;img /&gt;</code> mira el fichero
      <code class="code">./src/html/partials/header.html</code>.
    </li>
    <li>
      y para un <code class="code">background-image</code> mira el fichero
      <code class="code">./src/html/scss/layout/_page.scss</code>.
    </li>
  </ul>
  <p>
    Si quieres saber cómo usar un partial HTML dentro de otro partial, busca en la carperta
    <code class="code">./src/html/index.html</code> y
    <code class="code">./src/html/partials/main.html</code>, y verás cómo estamos creando estos
    enlaces:
  </p>
  <ul class="main__list">
    <li>
      <include
        src="./link.html"
        aClass="link__adalab"
        text="Adalab"
        url="https://adalab.es"
      ></include>
    </li>
    <li>
      <include src="./link.html" text="Más info del starter kit" url="./more-info.html"></include>
    </li>
  </ul>
</main>
-->
