<main class="main">
  <section class="secction1">

    <small class="section1__parrafoinicio">Insomnia Tips</small>
         
    <h3 class="section1__title">Looking Through A Window</h3>  
    <p class="section1__parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ullam repudia magnam pariatur, aperiam iusto nihil rerum voluptate.</p>
     
    <div> 
      <a href="https://adalab.es/" class="section1__button" title="Go Adalab">Go</a>
    </div>
   
  </section>




  <section class="seccion2">
        <h2 class="seccion2__title">Reasons To PurchasX</h3> 
        
        <article class="seccion2__article">
          <h3 class="seccion2__article--title">article__title1</h3>
          <p class="seccion2_article--parrafo"> 
           Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto tempore quos libero quam at ad perferendis corporis non! Sint reiciendis delectus et pariatur accusantium minima asperiores earum architecto delectus et pariatur accusantium minima asperiores earum aspernatur odit!
          </p>
        </article>

        <article class="seccion2__article">
          <h3 class="seccion2__article--title">article__title2</h3>
          <p class="seccion2_article--parrafo"> 
           Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto tempore quos libero quam at ad perferendis corporis non! Sint reiciendis architecto delectus et pariatur accusantium minima asperiores earum aspernatur odit!
          </p>
        </article>

        <article class="seccion2__article">
          <h3 class="seccion2__article--title">article__title3</h3>
          <p class="seccion2_article--parrafo"> 
           Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto tempore quos libero quam at ad perferendis corporis non! Sint reiciendis architecto delectus et pariatur accusantium minima asperiores earum aspernatur odit!
          </p>
        </article>

       
         
        boton GO

  </section>  

    boton  More reasons 

    icono  flecha arriba 
</main>























































<!--
  <main class="page__main">
  <h2>Este es el starter kit de Adalab</h2>
  <p>Lo usamos para aprender:</p>
  <ul class="main__list">
    <li>Sass</li>
    <li>HTML partials</li>
    <li>Gulp</li>
    <li>y muchas cosas más</li>
  </ul>
  <p>Si quieres saber cúales son las rutas correctas para:</p>
  <ul class="main__list">
    <li>
      una <code class="code">&lt;img /&gt;</code> mira el fichero
      <code class="code">./src/html/partials/header.html</code>.
    </li>
    <li>
      y para un <code class="code">background-image</code> mira el fichero
      <code class="code">./src/html/scss/layout/_page.scss</code>.
    </li>
  </ul>
  <p>
    Si quieres saber cómo usar un partial HTML dentro de otro partial, busca en la carperta
    <code class="code">./src/html/index.html</code> y
    <code class="code">./src/html/partials/main.html</code>, y verás cómo estamos creando estos
    enlaces:
  </p>
  <ul class="main__list">
    <li>
      <include
        src="./link.html"
        aClass="link__adalab"
        text="Adalab"
        url="https://adalab.es"
      ></include>
    </li>
    <li>
      <include src="./link.html" text="Más info del starter kit" url="./more-info.html"></include>
    </li>
  </ul>
</main>
-->
