<main class="main">
  <section class="secction1">

    <small class="section1__parrafoinicio">Insomnia Tips</small>
         
    <h3 class="section1__title">Looking Through A Window</h3>  
    <p class="section1__parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ullam repudia magnam pariatur, aperiam iusto nihil rerum voluptate.</p>
     
    <div> 
      <a href="https://adalab.es/" class="section1__button" title="Go Adalab">Go</a>
    </div>
   
  </section>




  <section class="section2" id="section2">
        <h2 class="section2__title">3 Reasons To PurchasX</h3> 

        <div class="section2__container">
          <article class="section2__article">
            <h3 class="section2__article--title">Article__title1</h3>
            <p class="seccion2__article--parrafo"> 
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </article>

          <article class="section2__article">
            <h3 class="section2__article--title">Article__title2</h3>
            <p class="section2__article--parrafo"> 
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </article>

          <article class="section2__article">
            <h3 class="section2__article--title">Article__title3</h3>
            <p class="section2__article--parrafo"> 
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </article>
       </div>

       
        <div> 
          <a href="" class="section2__button" title="More reasons">More reasons!!</a>
        </div>

        <a href="#header"  title="Inicio" class="section2__button-button"> <img src="./assets/images/ico-arrow.svg" alt="boton arriba">  </a>
       

  </section>  

  <section class="secction3">
   
    <h2 class="section3__title">Special offten</h2>  

    <div class="section3__sub2">

      <h3 class="section3__subtitulo1">20% discount. </h3>
      <p class=" section3__subtitulo1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae fugiat quae saepe eveniet quasi veniam modi ipsam assumenda deserunt ratione? Tempora recusandae incidunt id nihil aut consequuntur. Hic, rem. Doloribus!</p>
       
    </div>
    
     
       
  </section>

  
       
</section>

   
  
</main>





















































