
.footer {
 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #304268;
  color: white;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 45px;
  line-height: 2;
  
    @media (min-width: 768px) { 

      flex-direction: row;
      justify-content: space-around;
      text-align: start;
      align-items: flex-start;
      padding-top: 45px;
      
    }

    @media (min-width: 1200px) { 
      flex-direction: row;     
      text-align: start;
      padding-top: 45px;
      justify-content: space-evenly;
      padding-left: 200px;
      padding-right: 200px;

    }
  
}

.footerlink{ /* CONTENEDOR LINK *****/
  
  text-transform: uppercase;
  font-size: 16px;
  padding-bottom: 30px;
  
  @media (min-width: 1200px) { 
        margin-left: 30px;  
    
  }

}


.footerlinks_navegacion--lista { /*LISTADO NAVEGACION*/
  list-style: none;
   
}

.footerlinks_navegacion--item {
  list-style: none; /*CADA ENLACE NAVEGACION*/
  color: white;
  margin-bottom: 10px;
}

/***********************************redes sociales ****/
.footerredes { 
  
  font-size: 16px;
    @media (min-width: 1200px) { 
      margin-left: 50px;  

    }
}

.footerredes_container{ /*contenedor redes*/
  
  text-transform: uppercase;
  padding-bottom: 30px;
}

.footerredes__container--lista { /*listado  redes*/
  list-style: none;

}

.footerredes__container--item { /*cada enlace redes*/
  color: white;
}

.footer__copy {
  
  text-align: center;
   
    @media (min-width: 768px) {
      text-align: start;
      order:-1;
    }

    @media (min-width: 1200px) { 
      margin-right: 40px;  

    }

}


