/*.page__header {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}
*/

.header {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.header__menu {
  width: 44px;
  height: 44px;
  background-color:#0271bc;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}
/**************************************************/

.header__herocontenedor {
  background-image: url('../images/cover.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__herocontenedor--titles {
  width: 290px;
  height: 150px;
  color: white;
  text-align: center;
  justify-content:center;

  @media (min-width: 768px) {
    font-size: 42px;
    width: 690px;
    height: 350px;
    padding-top: 100px;
    
  }
  
  
  
}
.header__title {
  font-size: 42px;
   text-transform: uppercase;
  
  @media (min-width: 768px) {
    font-size: 80px;
        
  }
  

}

.header_subtitle {
  font-size: 16px;
  text-align: center;
  font-weight: 400;

  @media (min-width: 768px) {
    font-size: 24px;
        
  }
}

.header__hero--button-contenedor{
  border: solid 2px red;
  margin-top: 100px;
  width: 60px;
  height: 60px;
  



}

.header__hero--button{
  border: solid 2px greenyellow;
  background-color: white;
  border-radius: 50px;
  width: 45px;
  height: 45px;
  padding: 25px;
  font-size: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  

}

