/*.page__header {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}
*/

.header__menu {
  width: 44px;
  height: 44px;
  background-color:#0271bc;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}