.main {
    border: solid 2px red;
    padding: 15px;
    
    
}
.secction1 {
    
    border: solid 2px blue;
    margin-bottom: 45px;
    
    @media (min-width: 768px) { 
        padding: 60px 39px;
    }

    @media (min-width: 1200px) { 
        padding: 60px 275px;
    }

}
.section1__parrafoinicio {
    color:#8ccbea;
    font-size: 14px;
    line-height: 30px;
    font-weight:500;
    
}

.section1__title {
    width: 290px;
    font-size: 24px;
    flex-wrap: wrap;
    margin-bottom: 15px;


    @media (min-width: 768px) { 
        width: 500px;
        
    }
}
.section1__parrafo {
    font-size: 18px;
    color:#4a4a4a;
    line-height: 1.7;
    margin-bottom: 30px;
}
.section1__button {
    color: #f26002;
    font-size: 20px;
    font-weight: 500;
    line-height: 2;
    text-decoration: none;
    border: solid 3px #f26002;
    border-radius: 25px;
    padding: 8px 25px;
    transition: color 0.5s linear;

    &:hover{
        color:black;
        background-color: #f26002;
    }
}

