.main {
   
        
    
}
.secction1 {   
    margin: 0px 15px 45px 15px;
    
    @media (min-width: 768px) { 
        padding: 60px 39px;
    }

    @media (min-width: 1200px) { 
        padding: 60px 275px;
    }

}
.section1__parrafoinicio {
    color:#8ccbea;
    font-size: 14px;
    line-height: 30px;
    font-weight:500;
    
}

.section1__title {
    width: 290px;
    font-size: 24px;
    flex-wrap: wrap;
    margin-bottom: 15px;


    @media (min-width: 768px) { 
        width: 500px;
        
    }
}
.section1__parrafo {
    font-size: 18px;
    color:#4a4a4a;
    line-height: 1.7;
    margin-bottom: 30px;
}
.section1__button {
    color: #f26002;
    font-size: 20px;
    font-weight: 500;
    line-height: 2;
    text-decoration: none;
    border: solid 3px #f26002;
    border-radius: 25px;
    padding: 8px 25px;
    transition: color 0.5s linear;

    &:hover{
        color:black;
        background-color: #f26002;
    }
}
/******************************fin seccion1*****************/


.section2 {
     
    margin-top: 30px;
    
    background-color: #eff9ff;
    text-align: center;
    align-items: center;
    line-height: 30px;
}

.section2__container {
    display: grid;
    grid-template-columns: 1;

    @media (min-width: 768px) { 
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
                
    }
}

.section2__title {
    
    text-align: center;
    margin-bottom: 45px;
    font-size: 24px;
    font-weight: bold;

    @media (min-width: 768px) { 
        font-size: 26px;
        line-height: 45px;
    }
        
       
}

.section2__article {
    
    padding: 0px 70px 40px;
    font-size: 18px;

    @media (min-width: 768px) { 
        padding: 0px 40px;
        margin-bottom: 50px;
     }

}

.section2__article--title {

    @media (min-width: 768px) { 
        font-size: 24px;
        
     }
}

.seccion2_article--parrafo {
    padding: 5px 70px;
    line-height: 1.60;

    @media (min-width: 768px) { 
        font-size: 20px;
        
     }

}


/******************************section2  boton more reason ****/
.section2__button {
    background-color: #f26002;
    color:white;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    text-decoration: none;
    border-radius: 25px;
    padding: 8px 25px;
    
    transition: color 0.5s linear, background-color 0.5s linear;

    &:hover{
        color:black;   
        background-color: #8ccbea;    
    }
    @media (min-width: 768px) { 
        padding: 8px 40px;
        
        
    }

    
}
/**************************section 2 boton arriba ************/



  
.section2__button-button {
   
    background-color:white;
    border-radius: 50px;
    width: 45px;
    height: 45px;
    padding: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 45px;
    position: relative;
    transform: translateY( 20px);
    margin-left: 44%;
    padding-top: 20px;
    margin-top: 38px;

    @media (min-width: 768px) { 
        margin-top: 45px;
        
        
    }
  
    
}